<div>
    {{#each sounds as |sound|}}
        <div >
            <span style='float:left;'>
                {{upvote-element}}
            </span> 
            <span >
                {{sound-element sound=sound}}
            </span>
        </div>
    {{/each}}
</div>